@import url("https://use.typekit.net/bnk6tap.css");

.body {
  font-family: courier-std, monospace;
  font-weight: 400;
  font-size: 12px;
  font-style: normal;
  margin: 12px;
}

.body a,
.body a:visited,
.body a:active {
  color: blue;
  text-decoration: none;
}

.body a:hover {
  text-decoration: underline;
}

.content {
  margin-top: 5rem;
}

@media screen and (min-width: 400px) {
	.body {
		margin: 24px;
	}
}
